---
import { Footer } from '@/layouts/Footer';
import { Navbar } from '@/layouts/Navbar';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body class='bg-slate-900 text-gray-100'>
    <Navbar />

    <slot></slot>

    <Footer />
  </body>
</html>
