---
import BaseLayout from '@/layouts/Base.astro';
import { getAllPostsSortedByDate } from '../utils/Posts';

const sortedPosts = await getAllPostsSortedByDate(Astro);
const lastThreePosts = sortedPosts.slice(0, 3);

const title = 'Homepage';
const description = 'First page description';
---

<BaseLayout head={{ title, description }}>Homepage <div><a href="/posts">See all pages</a><div>{lastThreePosts.map(elt => <div><a href={elt.url}>{elt.frontmatter.title}</a></div>)}</div></div></BaseLayout>
