---
import { Logo } from '@/components/Logo';

export interface Props {
  head: {
    title: string;
		description: string;
	}
}

const { head: { title, description } } = Astro.props;
---

<html lang="en">
	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
		<meta name="description" content={description} />

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<Logo />

    <slot />
	</body>
</html>
