---
import { Logo } from '@/components/Logo';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Page title</title>
	</head>
	<body>
		<Logo />

    <slot />
	</body>
</html>
