---
import BaseLayout from '@/layouts/Base.astro';
import { format } from 'date-fns';

export interface BlogProps {
  content: {
    title: string;
    description: string;
    date: string;
  }
}

const { content } = Astro.props as BlogProps;
---

<BaseLayout head={{ title: content.title, description: content.description }}>
  <h1>{content.title} by Auth</h1>
  <slot />
  <p>Written on: {format(new Date(content.date), 'LLL d, yyyy')}</p>
</BaseLayout>
